<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.MBG2.mapper.ClassMapper">
  <resultMap id="BaseResultMap" type="Class">
    <result column="id" jdbcType="TINYINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="student_id" jdbcType="INTEGER" property="studentId" />
  </resultMap>

  <resultMap id="Class_Student" type="Class">
    <result column="c_id" property="id"/>
    <result column="c_name" property="name"/>
    <collection property="studentList" ofType="Student">
      <result column="s_id" property="id"/>
      <result column="s_name" property="name"/>
      <result column="age" property="age"/>
    </collection>
  </resultMap>

  <select id="getClassAndStudents" parameterType="Byte" resultMap="Class_Student">
    select c.id as c_id, c.name as c_name, s.id as s_id, s.name as s_name, s.age
    from class c, student s
    where c.id = #{id} and s.id = c.student_id

  </select>
  <insert id="insert" parameterType="com.example.MBG2.entity.Class">
    insert into class (id, name, student_id
      )
    values (#{id,jdbcType=TINYINT}, #{name,jdbcType=VARCHAR}, #{studentId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.MBG2.entity.Class">
    insert into class
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="studentId != null">
        student_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=TINYINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null">
        #{studentId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>